---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import AbsenceForm from '../../components/AbsenceForm.astro';
---

<DashboardLayout title="Reportar Ausencia" currentPath="/dashboard/report">
    <div class="max-w-2xl mx-auto">
        <AbsenceForm />
    </div>
</DashboardLayout>
