---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import NewsSection from '../components/NewsSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import SuggestionsSection from '../components/SuggestionsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Aviso Legal</h1>
	<p>Este sitio web no pretende reemplazar la información oficial del IES Rafael Puga Ramón.</p>
	<p>En este sitio web no se pretende reemplazar las vías oficiales de comunicación.</p>
	<p>Nunca solicitaremos información personal a través de este sitio web.</p>
	<p>No almacenamos datos personales. Las encuestas realizadas se almacenan en <a href="https://e-survey.io">e-survey.io</a>, un servicio que ha sido escogido por alojar las respuestas en territorio europeo.</p>
	<p>Nunca incitaremos al odio ni a ningún tipo de discriminación o actuación de bajo valor moral.</p>
	
	</div>
	<Footer />
</Layout>

