---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import NewsSection from '../components/NewsSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import SuggestionsSection from '../components/SuggestionsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content prose-content">
	<h2>Aviso legal</h2>
<p>El presente sitio web es una iniciativa de carácter personal, creada y gestionada por JaimeGH a título personal.</p>
<p>Por tanto, esta página NO tiene relación directa con ninguna institución educativa, ni representa al instituto, a su equipo directivo ni al profesorado, ni actúa en su nombre. El contenido publicado no constituye comunicación institucional ni sustituye a los canales oficiales del centro.</p>
</p>
<h3>Sobre el contenido</h3>
<p>Algunos profesores contactan con el propietario del sitio para que este publique contenido que desean transmitir tanto a los alumnos como a los padres, ya que esta página es un medio de difusión bastante utilizado. No por ello esta página tiene una relación institucional con ninguna institución educativa, las personas que se utilizan este soporte para comunicar su información lo hacen de manera personal sin representar a ninguna institución educativa.</p>

<h3>Limitación de responsabilidad, uso ético y cumplimiento de la ley</h3>
<p>Este sitio web contiene vínculos a sitios externos, los cuales pueden no haber sido revisados por el propietario, enviados por otros usuarios o generados por IA.</p>
<p>Asimismo, este sitio web aloja contenido generado por IA, el cual puede no ser preciso, completo o actualizado.</p>
<p>Complementariamente, la información presentada en este sitio web no tiene caracter contractural, por lo que no puede ser utilizada como base para la toma de decisiones que puedan tener consecuencias legales.</p>
<p>Este sitio web y su propietario están comprometidos con el cumplimiento de la Ley, la ética y la veracidad. El contenido publicado en este sitio web, al poder ser generado por IA o interpretado por un autor neurodivergente puede no ajustarse a la realidad. Es por ello que este sitio no representa una fuente formal para trámites legales. </p>
<p>Nos comprometemos con la sociedad aplicando medidas que favorecen la inclusión y un clima de tranquilidad, sin incitaciones al odio, discriminación o cualquier acción fuera de la Ley. Es por ello que el contenido de este sitio debe ser interpretado de manera positiva, sin buscar "dobles sentidos" o interpretaciones maliciosas ya que el autor no tiene la capacidad de comprenderlos y por tanto pueden inducirse doble ssentidos erroneos..</p>
<p>Impulsamos medidas que favorezcan el cumplimiento de la Ley a través de la información que presentamos en este sitio. Ningun contenido tiene carácter confrontativo.</p>
<p>Estos avisos son introducidos para evitar posibles malinterpretaciones.</p>
<p>El propietario del sitio se reserva el derecho de modificar el contenido del sitio en cualquier momento y sin previo aviso.</p>
<p>Este sitio está protegido contra el escaneo, acceso mediante bots y cualquier tipo de scraping. Si Vd. realiza una copia de este sitio está incumpliendo los términos de uso. Queda prohibida la reproducción total o parcial del contenido de este sitio utilizando la interfaz del mismo, es decir, capturar pantalla, fotografiar o cualquier método que permita obtener el contenido de forma diferente a la simple lectura humana y acceso por URL de este sitio sin permiso expreso del propietario.</p>

<h3>Rectificación, daños y perjuicios</h3>
<p>El propietario del sitio se compromete a rectificar cualquier contenido que pueda ser considerado erróneo o perjudicial para cualquier persona o entidad. Asimismo, declina cualquier responsabilidad de un mal uso o interpretación del sitio..</p>
        
	
	</div>
	<Footer />
</Layout>

