---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import NewsSection from '../components/NewsSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import SuggestionsSection from '../components/SuggestionsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content prose-content">
	<h1>Términos de uso del sitio web</h1>
	<p>Al usar este sitio web Ud. se compromete a respetar los formularios enlazados desde este sitio y asimismo no realizar actos ilegales o de bajo valor moral.</p>
	<p>La información contenida en este sitio web no debe considerarse contractual.</p>
	<p>Si tiene cualquier duda, encuentra un error en el sitio web o tiene una propuesta, contacte con nosotros</p>

	<h3>Restricciones de contenido</h3>
	<p>Al usar este sitio, Vd. se compromete a:
		<ul>
			<li>No reproducir, fotografiar ni inmortalizar el contenido del sitio de ninguna manera</li>
			<li>Copiar, scrapear, extraer o utilizar el contenido del sitio de ninguna manera</li>
			<li>Reenviar contenido de este sitio por otro medio que el enlace URL</li>
		</ul>
	</p>

	<p>El contenido de este sitio no es contractual, consulte <a href="/legal">el aviso legal</a>.</p>
	</div>
	<Footer />
</Layout>

