---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import NewsSection from '../components/NewsSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import SuggestionsSection from '../components/SuggestionsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Términos de uso del sitio web</h1>
	<p>Al usar este sitio web Ud. se compromete a respetar los formularios enlazados desde este sitio y asimismo no realizar actos ilegales o de bajo valor moral.</p>
	<p>La información contenida en este sitio web no debe considerarse</p>
	</div>
	<Footer />
</Layout>

