---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Gracias por tanto</h1>
	<p>Este miércoles ha sido la votación para presidente y secretario de la junta de delegados.</p>
	<p>Ha sido elegido Jaime, el que aquí escribe.</p>
	<p>Quisiera dar las gracias a todos por apoyarme como delegado y a los que me han votado por que ahora comienza el mejor proyecto que va a haber sido visto:</p>
	<p>Lo primero será crear una administración de propuestas abierta: todo será claro, conciso y al alcance de todos. Nunca ha sido tan fácil hacer una solicitud a todos los delegados del centro.</p>
	<p>También organizaremos y haremos propuestas que vosotros queráis e ideas que sean beneficiosas para todo el centro.</p>
	<p>También ya tenemos un nuevo sitio web... A la espera de que se autorice su utilización como sitio de los delegados pero ya listo y que próximamente se explicará como usar.</p>
	</div>
	<Footer />
</Layout>

