---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Huelga</h1>
	<p>Convocada por "Sindicato de Estudiantes"</p>
	<p>Fecha: 15 octubre</p>
	<p>Hora: 12:00</p>
	<p>Lugar: Obelisco</p>
	<p>Fuente:<a href="sindicatodeestudiantes.net/index.php/noticias/internacional/el-15-de-octubre-paremoslo-todo-para-parar-el-genocidio" target="_blank">sindicatodeestudiantes.net</a></p>
	<div style="height: 10vh;"></div>
	<p>Para inscribirse es necesario rellenar este formulario.</p>
	<div style="height: 10vh;"></div>
	<a class="btn-primary" href="https://forms.wps.com/w/write/eu/MnHZac4w/" target="_blank">Inscribirse</a>
	
	</div>
	<Footer />
</Layout>

