---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Huelga</h1>
	<p>Convocada por "Sindicato de Estudiantes"</p>
	<p>Fecha: 2 octubre</p>
	<p>Hora: 12:00</p>
	<p>Lugar: Obelisco Millenium</p>
	<p>Fuente:<a href="https://www.sindicatodeestudiantes.net/index.php/noticias/movimiento-estudiantil/2-de-octubre-huelga-estudiantil-paremos-el-genocidio-contra-el-pueblo-palestino" target="_blank">sindicatodeestudiantes.net</a></p>
	<div style="height: 10vh;"></div>
	<p>Solo se puede faltar si se está inscrito a la huelga o tienes justificación, de lo contrario se computará como una falta.</p>
	<div style="height: 10vh;"></div>
	<a class="btn-primary" href="https://forms.wps.com/w/write/eu/I8bW1MN1/" target="_blank">Inscribirse</a>
	
	</div>
	<Footer />
</Layout>

