---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>NO al paro de las clases durante las HUELGAS</h1>
	<p>Cuando hay una huelga se paran todas las clases por que normalmente no acude la suficiente cantidad de gente. Eso no puede ser.</p>
	<p>Los que acudimos al centro no acudimos por que sí, queremos que se siga dando clase y no estar como imbéciles sin hacer nada.</p>
	<p><strong>Por que luego queda materia sin dar que cae en el examen o al final se aprieta mucho para dar todo lo que cae y eso NO ES BUENO.</strong></p>
	<p>Es por ello que queremos que se siga dando materia y, como los trabajadores, el mundo no se pare por que haya una simple huelga.</p>
	</div>
	<Footer />
</Layout>

