---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
		<div style="align-items: center; display: flex; justify-content: center; margin-bottom: 24px;">
	<img src={import.meta.env.BASE_URL + "punto.naranja.png"} alt="pal" />
	</div>
	<h1>Nuevo Punto Naranja contra el acoso escolar</h1>
	<p>El acoso escolar es una realidad que tristemente sufren miles de alumnos en los centros educativos.</p>
	<p>Pero gracias a la Xunta y a nuestro querido equipo de Orientación disponemos un punto naranja para uso público.</p>
	<h2>¿Para qué sirve el Punto Naranja?</h2>
	<p>El Punto Naranja es un espacio seguro donde los estudiantes, de forma completamente anónima, pueden informar sobre situaciones de acoso que sufren o están viendo.</p>
	<p>Ya seas quien sufre acoso o una persona que lo ve no te cortes: avisa.</p>
	<p>Queremos hacer de este centro un lugar seguro y tú eres la clave.</p>
	<h2>Acoso o ciberacoso</h2>
	<p>Ya sea que el acoso lo hagan física, verbalmente o de forma telemática <strong>es acoso</strong> y eso no está permitido.</p>
	</div>
	<Footer />
</Layout>

