---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Reunión de delegados</h1>
	<p>Este martes 7 tenemos reunión de delegados y los delegados de esta clase vamos a hacer que nuestra voz se oiga.</p>
	<p>Comenzaremos con unas propuestas que van a hacernos, sin exagerar, mucho más fuertes:</p>
	<ol>
		<li>Crear una agrupación estudiantil de delegados para que unidos seamos más fuertes y se nos haga realmente caso.</li>
		<li>Usar el sitio web unificado para todos los delegados del centro (delegados.vercel.app), en el que podrán hacer lo mismo que en la página de la clase pero de forma visual, sin tener que tocar código. El sitio contará con un sistema de recogida de firmas unificado.</li>
		<li>Creación de un grupo de mensajería para los delegados del centro para poder comunicarnos, organizarnos y orquestar campañas.</li>
	</ol>
	<p>(Se entiende por delegados los delegados y subdelegados)</p>
	<p>Ya he hablado con personas acerca de las ideas a presentar y les parecen buenas ideas.</p>
	</div>
	<Footer />
</Layout>

