---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Solicitud a dirección para salir del centro en horas de Lengua la próxima semana</h1>
	<p>Ya se ha tramitado la solicitud.</p>
	<p>Mañana nos llegarán novedades por parte de jefatura de estudios.</p>
	<p>Ya sabéis que podéis hacer cualquier solicitud a vuestros delegados y la presentaremos ante las autoridades pertinentes.</p>
	<p>En la reunión de delegados presionaremos para que nos den una respuesta.</p>
	</div>
	<Footer />
</Layout>

