---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Navigation from '../../components/Navigation.astro';
import NewsSection from '../../components/NewsSection.astro';
import FeaturesSection from '../../components/FeaturesSection.astro';
import SuggestionsSection from '../../components/SuggestionsSection.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<div class="content">
	<h1>Solicitud a dirección para salir del centro en horas de Lengua la próxima semana</h1>
	<p>Habéis solicitado a vuestro delegado (un servidor aquí escribiendo) que le pida a la jefa de estudios que podáis salir durante las horas de Lengua de la semana del 6.</p>
	<p>Por tanto se informa de que esta solicitud se tramitará el mismo lunes 6 para que el martes, miércoles y jueves podáis ausentaros en las horas correspondientes y emplear ese tiempo para lo que mejor deseeis.</p>
	<p>Van a ir a hablar con la jefa de estudios Eric y Jaime.</p>
	<p>Continuaremos informando.</p>
	</div>
	<Footer />
</Layout>

